In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
series_obj = Series(np.arange(8), index=['row1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
series_obj

row1     0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [10]:
series_obj['row 7']

6

In [11]:
series_obj[[0,1]]

row1     0
row 2    1
dtype: int32

In [22]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
                columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [21]:
inicio = int(input('Introduce el año inicial: '))
fin = int(input('Introduce el año final: '))
ventas = {}
for i in range(inicio, fin+1):
    ventas [i] = float(input('Introduce las ventas del año' +str(i) +': '))
ventas = pd.Series(ventas)
print('Ventas\n', ventas)
print('Ventas con descuento\n', ventas*0.9)

Introduce el año inicial: 2019
Introduce el año final: 2022
Introduce las ventas del año2019: 3000
Introduce las ventas del año2020: 7000
Introduce las ventas del año2021: 7500
Introduce las ventas del año2022: 13000
Ventas
 2019     3000.0
2020     7000.0
2021     7500.0
2022    13000.0
dtype: float64
Ventas con descuento
 2019     2700.0
2020     6300.0
2021     6750.0
2022    11700.0
dtype: float64

In [24]:
#Escribir una función que reciba un diccionario con las notas de los alumnos del curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor

In [28]:
def estadistica_notas(notas):
    notas = pd.Series(notas)
    return notas.describe()

notas = {'Juan':9, 'María':6.5, 'Pedro':4, 'Carmen':8.5, 'Luis':5}
print(estadistica_notas(notas))

count    5.000000
mean     6.600000
std      2.162175
min      4.000000
25%      5.000000
50%      6.500000
75%      8.500000
max      9.000000
dtype: float64

In [29]:
#Escribir un programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [30]:
import pandas as pd
datos = {'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}
contabilidad = pd.DataFrame(datos)
print(contabilidad)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

In [31]:
import pandas as pd
datos = [['Enero', 30500, 22000], ['Febrero', 35600, 23400],['Marzo', 28300, 18100],['Abril', 33900, 20700]]
contabilidad = pd.DataFrame(datos, columns=['Mes', 'Ventas', 'Gastos'])
print(contabilidad)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

In [32]:
#Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas-gastos) total en los meses indicados

In [33]:
import pandas as pd
datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

contabilidad = pd.DataFrame(datos)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad[contabilidad.Mes.isin(meses)].Balance.sum()

print(balance(contabilidad, ['Enero', 'Marzo']))

18700

In [34]:
import pandas as pd
datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}

contabilidad = pd.DataFrame(datos)

def balance(contabilidad, meses):
    contabilidad['Balance'] = contabilidad.Ventas - contabilidad.Gastos
    return contabilidad.set_index('Mes').loc[meses, 'Balance'].sum()

print(balance(contabilidad, ['Enero', 'Marzo']))

18700